<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto - KÖRE Streetwear</title>
    <link rel="shortcut icon" href="../assest/icon/icono-tienda.webp" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/usuarios.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<!--EL CONTENIDO DE LA PÁGINA-->

<body>
    <!------------CABECERA Y NAVEGACIÓN-------->
    <header>

        <!-- INPUT OCULTO QUE CONTROLA EL MENÚ -->
        <input type="checkbox" id="menu-tienda" class="menu-tienda" />

        <!-- ICONO DE MENÚ COMO LABEL -->
        <label for="menu-tienda" class="material-symbols-outlined menu-icon">menu_open</label>

        <!-- MENÚ LATERAL -->
        <nav id="sideNav">
            <ul>
                <li><a href="../index.html"><img src="../assest/icon/icono-tienda.webp" alt="logo de la tienda"></a>
                </li>
                <li><a href="nosotros.html" class="enlace">Nosotros</a></li>
                <li><a href="tienda.html" class="enlace">Tienda</a></li>
                <li><a href="contacto.html" class="enlace">Contacto</a></li>
                <li><a href="usuarios.html" class="enlace">Usuarios</a></li>
                <li><a href="perfil.html" class="enlace">Perfil</a></li>
            </ul>
        </nav>

        <div class="header-content">
            <h1>KÖRE Streetwear</h1>
        </div>
    </header>

    <!------------CONTENIDO PRINCIPAL-------->
    <main>
        <h2>Gestión de Usuarios</h2>

        <input type="text" id="busqueda" placeholder="Buscar por nombre o email" />

        <table id="tabla-usuarios">
            <thead>
                <tr>
                    <th class="col-id">ID</th>
                    <th class="col-nombre">Nombre</th>
                    <th class="col-email">Email</th>
                    <th class="col-rol">Rol</th>
                    <th class="col-estado">Estado</th>
                    <th class="col-acciones"></th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se insertarán los usuarios -->
            </tbody>
        </table>
        <div id="paginacion"></div>
    </main>

    <!------------CONTENIDO ADICIONAL-------->


    <!------------PIE DE PÁGINA-------->
    <footer>
        <p>2025 &copy; Aitor Perez</p>
    </footer>
</body>
<script src="../js/main.js" defer></script>

</html>